{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "strict": 0,
    "max-len": [1, 120, 2, {
      "ignoreComments": true
    }],
    "react/jsx-indent-props": [2, 4],
    "no-console": 0,
    "new-cap": 0,
    "no-undef": [2],
    "arrow-body-style": 0,
    react/jsx-closing-bracket-location: 0,
    react/jsx-space-before-closing: 0,
    react/jsx-no-bind: 0,
    prefer-template: 0
  },
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NW__" : false,
    "BACKEND": true
  }
}
